<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title> Button - Neumorphic Elements</title>
    
    <link rel="stylesheet" href="resource.root/css/core.min.css"/>
    <link rel="stylesheet" href="resource.root/css/button.css"/>
    <style>
        .button-demo>div{
            margin: 2rem;
        }
    </style>

</head>

<body translate="no">
    <div class="container">
        <div class="components button-demo">
            <div class="btn btn__primary">
                <p>Button</p>
            </div>
            <div class="btn btn__secondary">
                <p>Button</p>
            </div>
        </div>
    </div>
     <script src="resource.root/js/button.js"></script>
</body>
</html>