<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title>Clock - Neumorphic Elements</title>
    
    <link rel="stylesheet" href="resource.root/css/clock.css"/>


</head>

<body translate="no">
    <div class="container">
        <div class="components">
            <div class="clock" clock>
                <div class="hand hours" style="transform: rotate(341.186deg);"></div>
                <div class="hand minutes" style="transform: rotate(132deg);"></div>
                <div class="hand seconds" style="transform: rotate(96deg);"></div>
                <div class="point"></div>
                <div class="marker">
                    <span class="marker__1"></span>
                    <span class="marker__2"></span>
                    <span class="marker__3"></span>
                    <span class="marker__4"></span>
                </div>
            </div>
        </div>
    </div>
     <script src="resource.root/js/clock.js"></script>
</body>
</html>