<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <link rel="apple-touch-icon" type="image/png"
        href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
        color="#111">
    <title>CodePen - Neumorphic Elements</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f0601b0fb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resource.root/css/core.css">
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script>
        window.console = window.console || function (t) { };
    </script>

    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>


</head>

<body translate="no">
    <div class="container">
        <div class="components">

            <div class="switch">
                <div class="switch__1">
                    <input id="switch-1" type="checkbox">
                    <label for="switch-1"></label>
                </div>

                <div class="switch__2">
                    <input id="switch-2" type="checkbox" checked="">
                    <label for="switch-2"></label>
                </div>
            </div>

            <div class="checkbox">
                <div class="checkbox__1">
                    <input id="checkbox-1" type="checkbox">
                    <label for="checkbox-1">
                        <i class="material-icons">done</i></label>
                </div>
                <div class="checkbox__2">
                    <input id="checkbox-2" type="checkbox" checked="">
                    <label for="checkbox-2">
                        <i class="material-icons">done</i></label>
                </div>
            </div>

            <div class="radio">
                <div class="radio__1">
                    <input id="radio-1" type="radio" name="radio" value="1">
                    <label for="radio-1"></label>
                </div>

                <div class="radio__2">
                    <input id="radio-2" type="radio" name="radio" value="2" checked="">
                    <label for="radio-2"></label>
                </div>
            </div>

            <div class="btn btn__primary">
                <p>Button</p>
            </div>
            <div class="btn btn__secondary">
                <p>Button</p>
            </div>

            <div class="clock" clock>
                <div class="hand hours" style="transform: rotate(341.186deg);"></div>
                <div class="hand minutes" style="transform: rotate(132deg);"></div>
                <div class="hand seconds" style="transform: rotate(96deg);"></div>
                <div class="point"></div>
                <div class="marker">
                    <span class="marker__1"></span>
                    <span class="marker__2"></span>
                    <span class="marker__3"></span>
                    <span class="marker__4"></span>
                </div>
            </div>

            <div class="chip">
                <div class="chip__icon">
                    <ion-icon name="color-palette" role="img" class="md hydrated" aria-label="color palette"></ion-icon>
                </div>
                <p>Neumorphic Design</p>
                <div class="chip__close">
                    <ion-icon name="close" role="img" class="md hydrated" aria-label="close"></ion-icon>
                </div>
            </div>

            <div class="circle" circle>
                <span class="circle__btn">
                    <ion-icon class="pause md hydrated" name="pause" role="img" aria-label="pause"></ion-icon>
                    <ion-icon class="play md hydrated" name="play" role="img" aria-label="play"></ion-icon>
                </span>
                <span class="circle__back-1"></span>
                <span class="circle__back-2"></span>
            </div>

            <div class="form">
                <input type="text" class="form__input" placeholder="Type anything...">
            </div>

            <div class="search">
                <input type="text" class="search__input" placeholder="Search...">
                <div class="search__icon">
                    <ion-icon name="search" role="img" class="md hydrated" aria-label="search"></ion-icon>
                </div>
            </div>

            <div class="segmented-control">

                <input type="radio" name="radio2" value="3" id="tab-1" checked="">
                <label for="tab-1" class="segmented-control__1">
                    <p>Tab 1</p>
                </label>

                <input type="radio" name="radio2" value="4" id="tab-2">
                <label for="tab-2" class="segmented-control__2">
                    <p>Tab 2</p>
                </label>

                <input type="radio" name="radio2" value="5" id="tab-3">
                <label for="tab-3" class="segmented-control__3">
                    <p>Tab 3</p>
                </label>

                <div class="segmented-control__color"></div>
            </div>

            <div class="icon">
                <div class="icon__home">
                    <ion-icon name="home" role="img" class="md hydrated" aria-label="home"></ion-icon>
                </div>
                <div class="icon__account">
                    <ion-icon name="person" role="img" class="md hydrated" aria-label="person"></ion-icon>
                </div>
                <div class="icon__settings">
                    <ion-icon name="settings" role="img" class="md hydrated" aria-label="settings"></ion-icon>
                </div>
            </div>

            <div class="slider" slider>
                <div class="slider__box">
                    <span class="slider__btn" id="find"></span>
                    <span class="slider__color"></span>
                    <span class="slider__tooltip">50%</span>
                </div>
            </div>
        </div>
        <a href="https://dribbble.com/myacode" class="dribbble" target="_blank">
            <ion-icon name="logo-dribbble" role="img" class="md hydrated" aria-label="logo dribbble"></ion-icon>
        </a>
    </div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-1b93190375e9ccc259df3a57c1abc0e64599724ae30d7ea4c6877eb615f89387.js"></script>
    <script src="resource.root/js/core.js"></script>
</body>
</html>