<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title>Home - Neumorphic Elements</title>
    
    <link rel="stylesheet" href="resource.root/css/core.min.css"/>
    <link rel="stylesheet" href="resource.root/css/button.css"/>


</head>

<body translate="no">
    <div class="container">
        <div class="btn btn__primary wireless_m__small">
            <a href="component-index.html">Components</a>
        </div>
        <div class="btn btn__primary wireless_m__small">
            <a href="button.html">Button</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="clock.html">Clock</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="tab.html">Tab</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="Radio.html">Radio</a>
        </div>
    </div>
    <div class="container">
        <div class="btn btn__secondary wireless_m__small">
            <a href="Input.html">Input</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="switch.html">Switch</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="Checkbox.html">Checkbox</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="Player.html">Player</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="slider.html">slider</a>
        </div>
        <div class="btn btn__secondary wireless_m__small">
            <a href="icon.html">icon</a>
        </div>
    </div>
     <script src="resource.root/js/button.js"></script>
</body>
</html>