<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title>Input - Neumorphic Elements</title>
    <link rel="stylesheet" href="resource.root/css/core.css"/>
</head>

<body translate="no">
    <div class="container">
        <div class="circle">
            <span class="circle__btn">
                <ion-icon class="pause md hydrated" name="pause" role="img" aria-label="pause"></ion-icon>
                <ion-icon class="play md hydrated" name="play" role="img" aria-label="play"></ion-icon>
            </span>
            <span class="circle__back-1"></span>
            <span class="circle__back-2"></span>
        </div>
    </div>
     <script src="resource.root/js/core.js"></script>
</body>
</html>