<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title>Radio - Neumorphic Elements</title>
    <link rel="stylesheet" href="resource.root/css/core.css"/>
</head>

<body translate="no">
    <div class="container">
        <div class="radio">
            <div class="radio__1">
                <input id="radio-1" type="radio" name="radio" value="1">
                <label for="radio-1"></label>
            </div>

            <div class="radio__2">
                <input id="radio-2" type="radio" name="radio" value="2" checked="">
                <label for="radio-2"></label>
            </div>
        </div>
    </div>
     <script src="resource.root/js/core.js"></script>
</body>
</html>