<html lang="en" class="hydrated">

<head>
    <meta charset="UTF-8">
    <style data-styles=""></style>
    <title>Switch - Neumorphic Elements</title>
    
    <link rel="stylesheet" href="resource.root/css/core.css"/>


</head>

<body translate="no">
    <div class="container">
        <div class="switch">
            <div class="switch__1">
                <input id="switch-1" type="checkbox">
                <label for="switch-1"></label>
            </div>

            <div class="switch__2">
                <input id="switch-2" type="checkbox" checked="">
                <label for="switch-2"></label>
            </div>
        </div>
    </div>
     <script src="resource.root/js/core.js"></script>
</body>
</html>